
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "swiper/css";
@import "swiper/css/navigation";



:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --dark-color: #2c3e50;
  --light-color: #ecf0f1;
  --text-color: #333;
  --text-light: #fff;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: #fff;
  overflow-x: hidden;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--dark-color);
}

.section-title p {
  max-width: 700px;
  margin: 0 auto;
  color: #666;
}

.dark-bg {
  background-color: var(--dark-color);
  color: var(--text-light);
}

.light-bg {
  background-color: var(--light-color);
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
}

.btn:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  font-size: 1rem;
  color: #999;
  font-family: inherit;
}

@media (max-width: 992px) {
  .section {
    padding: 60px 0;
  }
  
  .section-title h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
  
  .section-title h2 {
    font-size: 1.8rem;
  }
}